{% extends 'main/Admin/base_admin.html' %}

{% block content %}
<style>
    .column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Nombre d'evaluateurs</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{nbeval}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Nombre de candidats</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{nbcandidat}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-graduate		fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Nombre de modules</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{nbmodule}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-book		fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Nombre de groupes</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{nbgroupe}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users		fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
        

    </div>
    <div class="row">
    <div class="column">
        <canvas id="myChart" width="50vh" height="40vh"></canvas>

    </div>
    <div class="column" >    <canvas id="myChart1" width="auto" height="auto" style="margin-left:5cm; "></canvas>
    </div>
</div>
</div>




<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ labels| safe }},
    datasets: [{
        label: "Nombre de candidats",
        data: {{ data| safe }},
        backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
    ],
        borderColor: [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
    ],
        borderWidth: 1
    }]
        },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        },
        plugins: {
            title: {
                display: true,
                position : 'bottom',
                text: 'Nombre de candidats par groupe'
            }
        }
       
    }
    });
    const ctx1 = document.getElementById('myChart1').getContext('2d');
    const myChart1 = new Chart(ctx1, {
        type: 'pie',
        data: {
            labels: ['Administrateurs', 'Evaluateurs', 'Candidats'],
            datasets: [{
                label: '# of Votes',
                data: {{ data1 | safe }},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                
            },
            plugins: {
            title: {
                display: true,
                position : 'bottom',
                text: "Reparition de l'effectif totale selon le poste"
            }
        }
        }
    });
</script>
{% endblock %}